[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
wordcloud = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
